#accountbutton {
    width: fit-content;
    margin-bottom: 0px;
}

.popupwrapper {
    border: 2px solid black;
    padding: 0px 0px 0px 0px;
    width: 250px;
    height: 175px;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popupwrapper > p {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
hr {
    width: 100%;
    border: 1px solid black;
    margin: 0;
}

.notHovered {
    display: none;
}
